---
version: 2

defaults: &defaults
  docker:
    - image: circleci/golang:1.9
  working_directory: /go/src/github.com/joatmon08/docker-consul-handler
  environment:
    LIBRARY: quay.io/joatmon08
    CONTAINER_NAME: docker-consul-handler
    VERSION: 1.0

jobs:
  test-unit:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - run:
          name: Run unit tests
          command: make unit-test

  test-contract:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Build the binary
          command: make
      - run:
          name: Run contract test
          command: make contract-test
      - run:
          name: Cleanup
          command: make clean

  build:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install Docker client
          command: |
            set -x
            VER="17.03.0-ce"
            curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
            tar -xz -C /tmp -f /tmp/docker-$VER.tgz
            mv /tmp/docker/* /usr/bin
      - run: 
          name: Build the handler
          command: |
            make build-amd64
            docker build -t $LIBRARY/$CONTAINER_NAME:latest .
            docker tag $LIBRARY/$CONTAINER_NAME:latest $LIBRARY/$CONTAINER_NAME:$VERSION.$CIRCLE_BUILD_NUM
      - run:
          name:
          command: |
            docker login -u=$QUAY_USER -p=$QUAY_TOKEN quay.io
            docker push $LIBRARY/$CONTAINER_NAME:$VERSION.$CIRCLE_BUILD_NUM
            docker push $LIBRARY/$CONTAINER_NAME:latest

workflows:
  version: 2
  docker_consul_handler:
    jobs:
      - test-unit
      - test-contract:
          requires: test-unit
      - build:
          requires: test-contract